
container_commands:
    01_collectstatic:
        command: "python manage.py collectstatic --no-input"

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: doneez_proj.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        "/static": "static/"

Resources:
    AWSEBAutoScalingGroup:
        Type: "AWS::AutoScaling::AutoScalingGroup"
        Properties:
            HealthCheckType: "ELB"
            HealthCheckGracePeriod: "600"

