
container_commands:
    01_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: doneez_proj.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        "/static": "static/"

Resources:
    AWSEBAutoScalingGroup:
        Type: "AWS::AutoScaling::AutoScalingGroup"
        Properties:
            HealthCheckType: "ELB"
            HealthCheckGracePeriod: "600"

