{% autoescape off %}
<!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#00528c;"><br></div>
        <div>
            <h2 style="color:SlateGray;">Congratulations!  Your DoneEZ account has been approved and activated for Username:  <span style="color:#00528c;">{{ username }}</span> </h2>
            <h3 style="color:SlateGray;">Visit <a href="http://doneez.com/" style="color:#00528c;">DoneEZ.com</a> to access your new account.</h3>
        </div>
        <div style="background-color:#00528c;"><br></div>
    </body>
</html>
{% endautoescape %}


