<!-- Insert this page into the Base Template -->
{% extends "doneez_app/site-base.html" %}

{% block content %}
<!-- Page Content STARTS Here -->

<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="page-title">Frequently Asked Questions</h1>
      <div>
          <img src="../media/site-images/QuestionMarks.png"  class="img-fluid">
      </div>


      <!-- FAQ Accorion -->
      <div class="accordion accordion-flush" id="accordionFlushExample">


        <div>
          <br>
          <h2>Customer FAQ</h2>
        </div>
        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading01" style="border-top: 1px solid lightgray">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse01" aria-expanded="false" aria-controls="flush-collapse01">
              <h5>What is DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse01" class="accordion-collapse collapse" aria-labelledby="flush-heading01" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              DoneEZ is a user-friendly platform designed to connect you with reliable and highly-rated service professionals in your area. With DoneEZ, you can effortlessly schedule appointments with trusted experts and enjoy peace of mind knowing that your needs will be taken care of efficiently and effectively. Whether you need a plumber, electrician, or any other service provider, DoneEZ simplifies the process of finding and booking skilled professionals, giving you more time to focus on what matters most. 
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading02">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse02" aria-expanded="false" aria-controls="flush-collapse02">
              <h5>What types of services can I find on DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse02" class="accordion-collapse collapse" aria-labelledby="flush-heading02" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              DoneEZ is your ultimate destination for all types of services, no matter how big or small the job may be. From auto mechanics and handymen to house cleaners, tutors, caterers, doctors, lawyers, and everything in between, our platform offers a comprehensive range of services that cater to your every need. Whether you need someone to run a simple errand for you or require a team of professionals to handle a complex project, DoneEZ has got you covered. Our user-friendly website features a complete list of services that you can easily access and book with just a few clicks. So why go anywhere else when you can get all the help you need at DoneEZ? 
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading12">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">
              <h5>What are the benefits of a DoneEZ membership for the consumer? </h5>
            </button>
          </h2>
          <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-heading12" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              The benefits of a DoneEZ membership for consumers include access to a network of top-rated service professionals who have been vetted by DoneEZ, the ability to instantly book or request quotes for services, transparent pricing, and the ability to leave reviews and ratings for service professionals. Additionally, DoneEZ provides a satisfaction guarantee for all services booked through the platform, ensuring that consumers are satisfied with the work performed by the service professional.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading03">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse03" aria-expanded="false" aria-controls="flush-collapse03">
              <h5>How much does this service cost?</h5>
            </button>
          </h2>
          <div id="flush-collapse03" class="accordion-collapse collapse" aria-labelledby="flush-heading03" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Joining DoneEZ is completely free! You only pay for the services you book with a participating DoneEZ service professional. There are no hidden fees or upfront costs, and you'll always know the total price of the service before you confirm your booking.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading04">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse04" aria-expanded="false" aria-controls="flush-collapse04">
              <h5>Can a service professional pay to be listed on the DoneEZ platform?</h5>
            </button>
          </h2>
          <div id="flush-collapse04" class="accordion-collapse collapse" aria-labelledby="flush-heading04" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              We do not accept payment from service professionals to be listed on our platform. We carefully evaluate each professional's credentials and expertise to ensure they meet our criteria. If they meet our standards, they can join our platform for free. 
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading05">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse05" aria-expanded="false" aria-controls="flush-collapse05">
              <h5>What criteria is a service professional required to meet in order to become a member of the DoneEZ network?</h5>
            </button>
          </h2>
          <div id="flush-collapse05" class="accordion-collapse collapse" aria-labelledby="flush-heading05" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              To become a member of the DoneEZ network, a service professional must meet certain criteria. They must have a minimum of a 4-star rating on at least one of the following online review sites: Yelp or Google Reviews. Additionally, they must have relevant licenses and certifications, adequate insurance coverage, and a demonstrated history of delivering high-quality services to their clients. Our team carefully evaluates each applicant to ensure they meet these criteria before they are approved to join our network.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading06">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse06" aria-expanded="false" aria-controls="flush-collapse06">
              <h5>Once a service professional is accepted into the DoneEZ network, does that mean their membership is guaranteed for life?</h5>
            </button>
          </h2>
          <div id="flush-collapse06" class="accordion-collapse collapse" aria-labelledby="flush-heading06" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Membership in the DoneEZ network is not guaranteed for life. Service professionals must maintain a good standing in our network by consistently delivering high-quality services and maintaining a minimum 4-star rating on one of the following review sites: Yelp or Google Reviews. If a service professional's rating falls below 4 stars, their membership may be deactivated. However, they can reactivate their membership once they achieve a 4-star rating or higher. We have this protocol in place to ensure that only the best service professionals are listed on our network and that our customers receive the best possible service.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading07">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse07" aria-expanded="false" aria-controls="flush-collapse07">
              <h5>Why are auto services the only type of service that can be requested of DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse07" class="accordion-collapse collapse" aria-labelledby="flush-heading07" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              At this time, our platform only supports requests for auto services. However, we are continually expanding our services and plan to add more categories in the coming months. We want to ensure that each new category meets our high standards for quality and reliability before it is added to our platform. Please stay tuned for updates on our expanding service offerings. 
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading08">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse08" aria-expanded="false" aria-controls="flush-collapse08">
              <h5>Are the auto mechanics listed on DoneEZ certified?</h5>
            </button>
          </h2>
          <div id="flush-collapse08" class="accordion-collapse collapse" aria-labelledby="flush-heading08" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Our auto mechanics are top-rated and highly qualified to perform any auto repair service they are booked to do. Many of our mechanics are certified by the National Institute for Automotive Service Excellence (ASE). You can view a mechanic's certifications on their online profile, which is accessible during the booking process. Additionally, you can review their work history, experience, completed jobs for other car owners, fees paid by other car owners, and real customer ratings and reviews. We take pride in being completely transparent and providing our customers with all the information they need to make an informed decision when booking an auto service through our platform.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading09">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse09" aria-expanded="false" aria-controls="flush-collapse09">
              <h5>What is your cancellation policy?</h5>
            </button>
          </h2>
          <div id="flush-collapse09" class="accordion-collapse collapse" aria-labelledby="flush-heading09" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              We understand that schedules can change, and we have a flexible cancellation policy to accommodate our customers' needs. If you need to cancel your appointment, you can do so for a full refund up to 24 hours before your scheduled appointment time. To cancel, simply email us at: <a href="" target=" " id="emailID01" style="color: black;" onclick="showEmail('emailID01');"><small>Show Email</small></a> and let us know which appointment you need to cancel. Please note that if your appointment is within 24 hours, we cannot offer a full refund. Instead, a 10% cancellation fee will be charged.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
              <h5>I would like to join. How do I do that?</h5>
            </button>
          </h2>
          <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              We're excited to have you join our platform! To get started, simply visit our website and follow the sign-up process. If you have any questions or concerns, please don't hesitate to reach out to us at: <a href="" target=" " id="emailID02" style="color: black;" onclick="showEmail('emailID02');"><small>Show Email</small></a>. As a limited time offer, new members who book an appointment through our platform are eligible for a complimentary oil change. We're thrilled to have you join our community and look forward to providing you with top-notch auto services. 
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
              <h5>I have further inquiries. Who do I contact?</h5>
            </button>
          </h2>
          <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading11" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              If you have any further inquiries, we encourage you to reach out to us by using our contact form on our website or by sending an email to: <a href="" target=" " id="emailID03" style="color: black;" onclick="showEmail('emailID03');"><small>Show Email</small></a>. Our team will be happy to assist you with any questions or concerns you may have.
            </div>
          </div>
        </div>




        <div>
          <br>
          <h2>Provider FAQ</h2>
        </div>


        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading100" style="border-top: 1px solid lightgray">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse100" aria-expanded="false" aria-controls="flush-collapse100">
              <h5>What is DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse100" class="accordion-collapse collapse" aria-labelledby="flush-heading100" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              DoneEZ is a platform where service professionals can promote and sell their services. By joining our network, professionals can receive qualified leads that may result in instant bookings or quote requests from potential customers.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading101">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse101" aria-expanded="false" aria-controls="flush-collapse101">
              <h5>What types of services can I offer on DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse101" class="accordion-collapse collapse" aria-labelledby="flush-heading101" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              At the moment, DoneEZ only supports auto services for instant booking or request. However, we plan to expand our services to include other categories in the future.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading102">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse102" aria-expanded="false" aria-controls="flush-collapse102">
              <h5>What are some benefits of being a DoneEZ service professional?</h5>
            </button>
          </h2>
          <div id="flush-collapse102" class="accordion-collapse collapse" aria-labelledby="flush-heading102" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              As a DoneEZ service professional, you'll have access to various benefits, such as discounted products and services from our partnered suppliers. These may include auto parts, digital marketing services, and other resources that can help you streamline and improve your business operations.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading103">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse103" aria-expanded="false" aria-controls="flush-collapse103">
              <h5>Is there a fee for service professionals to join the DoneEZ network?</h5>
            </button>
          </h2>
          <div id="flush-collapse103" class="accordion-collapse collapse" aria-labelledby="flush-heading103" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              At DoneEZ, we believe in making it easy for qualified service professionals to join our network. If you meet our criteria, there is no fee to become a member. Our goal is to provide a platform that connects top-rated service professionals with customers who need their services. However, please note that once you join our network, you will be subject to our terms and conditions, which outline the expectations and standards for service professionals. We also offer additional benefits and resources to our members, such as discounted products and services to help you run your business more efficiently. So if you meet our criteria and are interested in becoming a part of our network, we encourage you to join us today!
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading104">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse104" aria-expanded="false" aria-controls="flush-collapse104">
              <h5>How do you make money if it is free to join?</h5>
            </button>
          </h2>
          <div id="flush-collapse104" class="accordion-collapse collapse" aria-labelledby="flush-heading104" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Although we don't require our service professionals to pay a membership fee, we earn revenue through referral and reseller programs that provide business solutions to our service professionals, helping them improve their operations. When our service professionals buy any product or service from our partners, we earn a small commission. This business model allows us to continue providing our service at no cost to service professionals while also generating revenue to sustain our platform.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading105">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse105" aria-expanded="false" aria-controls="flush-collapse105">
              <h5>Can I sign up as a DoneEZ auto service professional if I don't own a shop?</h5>
            </button>
          </h2>
          <div id="flush-collapse105" class="accordion-collapse collapse" aria-labelledby="flush-heading105" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Absolutely! Whether you operate a brick-and-mortar auto repair shop or work as a mobile mechanic, you are welcome to join DoneEZ as an auto service professional. We value a commitment to excellent customer service and high-quality auto repairs, and we rely on customer ratings and reviews to ensure that all of our providers meet these standards. Our aim is to build trust in an industry where trust has been lacking, and we believe that by bringing together top-rated service providers from all backgrounds, we can help achieve this goal. So whether you have a physical shop or prefer to work on the go, sign up with DoneEZ today and start providing reliable, trustworthy auto services to customers in your area.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading106">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse106" aria-expanded="false" aria-controls="flush-collapse106">
              <h5>I have further inquiries. Who do I contact?</h5>
            </button>
          </h2>
          <div id="flush-collapse106" class="accordion-collapse collapse" aria-labelledby="flush-heading106" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              For any further assistance or inquiries, please do not hesitate to reach out to us at: <a href="" target=" " id="emailID04" style="color: black;" onclick="showEmail('emailID04');"><small>Show Email</small></a>. We will be happy to assist you in any way we can. 
            </div>
          </div>
        </div>


        <div>
          <br>
          <h2>Supplier FAQ</h2>
        </div>




        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading200">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse200" aria-expanded="false" aria-controls="flush-collapse200">
              <h5>What is DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse200" class="accordion-collapse collapse" aria-labelledby="flush-heading200" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              DoneEZ is a B2B platform designed for suppliers to promote and sell their products and services to service professional members. By leveraging our platform, you can showcase your offerings on the members' dashboard, making it easy for them to discover and purchase from you.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading201">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse201" aria-expanded="false" aria-controls="flush-collapse201">
              <h5>How does selling as a part supplier on the DoneEZ dashboard benefit you as a supplier?</h5>
            </button>
          </h2>
          <div id="flush-collapse201" class="accordion-collapse collapse" aria-labelledby="flush-heading201" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              As a supplier, selling on the DoneEZ dashboard offers you several benefits. Not only can you sell more parts by showcasing your offerings to our reputable auto service professionals, but you can also ensure that your parts are being installed correctly. This reduces the number of part returns, the need for costly replacements, and the loss of sales due to defective parts. Furthermore, selling on our platform enables you to establish long-term relationships with service professionals and increase your brand visibility in the industry.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading202">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse202" aria-expanded="false" aria-controls="flush-collapse202">
              <h5>I want to be listed as a supplier. What are the fees?</h5>
            </button>
          </h2>
          <div id="flush-collapse202" class="accordion-collapse collapse" aria-labelledby="flush-heading202" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              If you're interested in being listed as a supplier on our platform, you'll be pleased to know that there are no fees involved. As a supplier, you can list and sell your products on the Pro dashboard for free.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading203">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse203" aria-expanded="false" aria-controls="flush-collapse203">
              <h5>What are the requirements to be listed as a supplier on the site?</h5>
            </button>
          </h2>
          <div id="flush-collapse203" class="accordion-collapse collapse" aria-labelledby="flush-heading203" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              If you're interested in being listed as a supplier on our site, the requirements are straightforward. We partner with suppliers whose products and services can offer value to our service professional members. Additionally, our partner suppliers are requested to provide a discount to our service professional members.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading204">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse204" aria-expanded="false" aria-controls="flush-collapse204">
              <h5>I have further inquiries. Who do I contact?</h5>
            </button>
          </h2>
          <div id="flush-collapse204" class="accordion-collapse collapse" aria-labelledby="flush-heading204" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              If you have further inquiries, please feel free to contact our customer support team. They will be happy to assist you and provide you with any additional information you may need. Simply reach out to us at: 
                <a href="" target=" " id="emailID05" style="color: black;" onclick="showEmail('emailID05');"><small>Show Email</small></a>
            </div>

            </div>
          </div>
        </div>



        <br>
      </div> <!-- End of Accordion -->
    </div>

  </div>
</div>

<!-- Page Content ENDS Here -->
{% endblock content %}