<!-- Extend the parent template to pass this page's content up to base.html  -->
{% extends "doneez_app/site-base.html" %}


<!-- Page Content STARTS Here -->
{% block site-content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">About Us</h1>

            <h2>Our Mission</h2>
            <p>
                Our mission is to create an online service marketplace that is built on trust, honesty, and community.
            </p>

            <h4 style="padding-left:2rem;"> <img src="../media/site-images/Checkmark01.png">Trust</h4>
            <h4 style="padding-left:2rem;"> <img src="../media/site-images/Checkmark01.png">Honesty</h4>
            <h4 style="padding-left:2rem;"> <img src="../media/site-images/Checkmark01.png">Community</h4>
            <br><br>

            <div class="clearfix mb-5">
                <img src="../media/site-images/istockphoto-1152239905-612x612.jpg" class="responsiveImage" width="25%">
                <h2>About Us</h2>
                <p>
                    Finding the right service professional for your job can be quite a challenge, given the abundance of options available. One must ensure that the selected pro is competent, reliable, and affordable. But worry not, for DoneEZ has been created to address precisely this challenge. Our platform helps you locate a dependable local service pro who offers the best prices, enabling you to focus on more critical aspects of your life. With a few clicks, you will be connected to a vetted service professional who can fulfill your requirements promptly.
                </p>
                <p>
                    At DoneEZ, we have initially focused on assisting you in finding a trustworthy auto service professional. We achieve this by selectively inviting the best-rated auto service pros to join our network. Our auto service network comprises both independent shops and mobile mechanics, ensuring that you have the most comprehensive range of options to choose from.
                </p>
                <a href="/">Find one now!</a>
            </div>

        </div>
    </div>
</div>


<!-- Page Content ENDS Here -->
{% endblock site-content %}