<!-- Insert this page into the Base Template -->
{% extends "doneez_app/site-base.html" %}

{% block content %}
<!-- Page Content STARTS Here -->

<div class="container">


    <h1>How it Works</h1>
    <p>
        Caring for your car has never been easier! Get your car fixed or serviced by one of our top rated auto service pros. Instead of searching endless business listings or review sites and the usual hassle of shopping around for price quotes, you simply post an auto service request on DoneEZ and we will notify auto service pros in your area and invite them to submit a price quote for your job. You select the auto service pro you think is best with a click and consider it done!
    </p>


    <div class="row">
        <div class="col-auto mb-4">
            <img src="../media/site-images/istockphoto-1260156485-612x612.jpg" class="responsiveImage" width="100%">
        </div>
        <div class="col">
            <h4>1) Post a Service</h4>
            <p>Select your repair service.</p>
            <h4>2) Get Competitive Quotes</h4>
            <p>Browse pros, preview the quotes and select the one you like.</p>
            <h4>3) Book an Appointment</h4>
            <p>Tell us when to meet you at your home or office. Or you can bring it to your selected repair shop.</p>
            <h4>4) Get Your Car Fixed</h4>
            <p>Enjoy top rated auto repair services. Satisfaction guaranteed! You pay only when your job is done to your satisfaction.</p>
            <div class="my-5">
                <img src="../media/site-images/Logo v02 Md.png"  class="img-fluid">
            </div>
        </div>
    </div>


</div>




<!-- Page Content ENDS Here -->
{% endblock content %}