<!-- Insert this page into the Base Template -->
{% extends "doneez_app/site-base.html" %}

{% block content %}
<!-- Page Content STARTS Here -->

<div class="container">


    <h1>How it Works</h1>
    <p>
        Looking after your car has never been simpler! You can now have your car repaired or serviced by one of our highly-rated auto service professionals. Rather than spending countless hours searching through business listings and review sites, and dealing with the tedious task of obtaining price quotes, all you need to do is submit an auto service request on DoneEZ. We will notify auto service professionals in your area and ask them to provide a price quote for your job. With just a few clicks, you can select the auto service pro you think is the best fit for you, and consider the job done! 
    </p>


    <div class="row">
        <div class="col-auto mb-4">
            <img src="../media/site-images/istockphoto-1260156485-612x612.jpg" class="responsiveImage" width="100%">
        </div>
        <div class="col-auto">
            <h4>1) Post your Service Request</h4>
            <p class="ms-4 ps-1">Simply describe the auto service you need.</p>
            <h4>2) Receive Competitive Quotes</h4>
            <p class="ms-4 ps-1">Browse through quotes from various auto service professionals and choose the one that suits you best.</p>
            <h4>3) Book an Appointment</h4>
            <p class="ms-4 ps-1">Select a convenient time to bring your car in for repair or request a mobile mechanic to come to your location.</p>
            <h4>4) Get Your Car Fixed</h4>
            <p class="ms-4 ps-1">Experience top-rated auto repair services with a satisfaction guarantee. Payment is only required once the job is completely done to your satisfaction.</p>
            <div class="col my-5">
                <img src="../media/site-images/Logo v02 Md.png" class="responsiveLogo">
            </div>
        </div>
    </div>


</div>




<!-- Page Content ENDS Here -->
{% endblock content %}