<!-- Insert this page into the Base Template -->
{% extends "doneez_app/site-base.html" %}

{% block content %}
<!-- Page Content STARTS Here -->

<div class="container">


    <h1>How it Works</h1>
    <p>
        Looking after your car has never been simpler! You can now have your car repaired or serviced by one of our highly-rated auto service professionals. Rather than spending countless hours searching through business listings and review sites, and dealing with the tedious task of obtaining price quotes, all you need to do is submit an auto service request on DoneEZ. We will notify auto service professionals in your area and ask them to provide a price quote for your job. With just a few clicks, you can select the auto service pro you think is the best fit for you, and consider the job done! 
    </p>


    <div class="row">
        <div class="col-auto mb-4">
            <img src="../media/site-images/istockphoto-1260156485-612x612.jpg" class="responsiveImage" width="100%">
        </div>
        <div class="col">
            <h4>1) Post a Service</h4>
            <p>Select your repair service.</p>
            <h4>2) Get Competitive Quotes</h4>
            <p>Browse pros, preview the quotes and select the one you like.</p>
            <h4>3) Book an Appointment</h4>
            <p>Tell us when to meet you at your home or office. Or you can bring it to your selected repair shop.</p>
            <h4>4) Get Your Car Fixed</h4>
            <p>Enjoy top rated auto repair services. Satisfaction guaranteed! You pay only when your job is done to your satisfaction.</p>
            <div class="my-5">
                <img src="../media/site-images/Logo v02 Md.png"  class="img-fluid">
            </div>
        </div>
    </div>


</div>




<!-- Page Content ENDS Here -->
{% endblock content %}