<!-- Insert this page into the Base Template -->
{% extends "doneez_app/site-base.html" %}

{% block content %}
<!-- Page Content STARTS Here -->

<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="page-title">Frequently Asked Questions</h1>
      <div>
          <img src="../media/site-images/QuestionMarks.png"  class="img-fluid">
      </div>


      <!-- FAQ Accorion -->
      <div class="accordion accordion-flush" id="accordionFlushExample">


        <div>
          <br>
          <h2>Customer FAQs</h2>
        </div>
        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading01" style="border-top: 1px solid lightgray">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse01" aria-expanded="false" aria-controls="flush-collapse01">
              <h5>What is DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse01" class="accordion-collapse collapse" aria-labelledby="flush-heading01" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              DoneEZ helps you easily find trusted top rated service professionals near you and lets you instantly book an online appointment with them.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading02">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse02" aria-expanded="false" aria-controls="flush-collapse02">
              <h5>What types of services can I find on DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse02" class="accordion-collapse collapse" aria-labelledby="flush-heading02" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Whatever service you need done, DoneEZ would like to be your one stop destination to find the help you need to get the job done. Whether you need services from an auto mechanic or handyman, a house cleaner, tutor or caterer, a doctor or lawyer, or maybe you just wanted someone to run a simple errand for you, our platform supports all types of services to be requested or booked. No job is too big or small. See the full list of services you can find on our website <a href="#">here</a>.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading03">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse03" aria-expanded="false" aria-controls="flush-collapse03">
              <h5>How much does this service cost?</h5>
            </button>
          </h2>
          <div id="flush-collapse03" class="accordion-collapse collapse" aria-labelledby="flush-heading03" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              It's free to join. Customers pay when they book a service from a participating DoneEZ service professional.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading04">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse04" aria-expanded="false" aria-controls="flush-collapse04">
              <h5>Can a service professional pay to be listed on the DoneEZ platform?</h5>
            </button>
          </h2>
          <div id="flush-collapse04" class="accordion-collapse collapse" aria-labelledby="flush-heading04" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              No, a service professional cannot pay to be listed on our platform. But they can join for free if they meet our criteria.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading05">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse05" aria-expanded="false" aria-controls="flush-collapse05">
              <h5>What criteria is a service professional required to meet before becoming a member of the DoneEZ network?</h5>
            </button>
          </h2>
          <div id="flush-collapse05" class="accordion-collapse collapse" aria-labelledby="flush-heading05" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              In order to join our service professional network, a service professional will need to have at least a 4 star rating in any of the following online review sites: Yelp, Trustpilot and Google reviews.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading06">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse06" aria-expanded="false" aria-controls="flush-collapse06">
              <h5>Once a service professional is accepted to the DoneEZ network, does that mean they are members indefinitely?</h5>
            </button>
          </h2>
          <div id="flush-collapse06" class="accordion-collapse collapse" aria-labelledby="flush-heading06" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              No. A service professional will need to maintain their business rating on aforementioned review sites to remain in good standing. It means if their rating falls below 4 stars, their membership will be deactivated. Their membership can be reactivated once they achieve at least a 4 star rating. We have this protocol in place to ensure that only the best service professionals are listed on our service network.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading07">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse07" aria-expanded="false" aria-controls="flush-collapse07">
              <h5>Why is auto services the only type of service that can be requested on DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse07" class="accordion-collapse collapse" aria-labelledby="flush-heading07" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Currently our platform only supports auto services to be requested but we will be adding more service categories in the coming months. So please stay tuned.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading08">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse08" aria-expanded="false" aria-controls="flush-collapse08">
              <h5>Are the auto service professionals listed on DoneEZ qualified and certified?</h5>
            </button>
          </h2>
          <div id="flush-collapse08" class="accordion-collapse collapse" aria-labelledby="flush-heading08" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              All of our auto service professionals are top rated and well qualified to perform any auto repair service they are booked to get done. Many of our mechanics are certified by ASE (National Institute for Automotive Service Excellence). You can see mechanics’ certifications on their profile online, which is accessible during the booking process. You can also review their experience, work history, jobs completed for other car owners, fees paid by other car owners, and real customers’ ratings and reviews. We take pride in being totally transparent.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading09">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse09" aria-expanded="false" aria-controls="flush-collapse09">
              <h5>What is the cancellation policy?</h5>
            </button>
          </h2>
          <div id="flush-collapse09" class="accordion-collapse collapse" aria-labelledby="flush-heading09" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              We understand that sometimes your schedule changes. You can always cancel for a full refund up to 24 hours before your scheduled appointment time. To cancel, please email help@doneez.com and let us know which appointment you need to cancel. If your appointment is within 24 hours, we unfortunately cannot offer a full refund as there will be a 10% cancellation fee which you will be charged.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
              <h5>I would like to join. How do I do that?</h5>
            </button>
          </h2>
          <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Perfect, you are welcome to join! Great that you are giving it a shot. You can join <a href="#">here</a>. Should you have any questions after joining, feel free to drop us an email at help@doneez.com or write to one of the moderators in the chat. For a limited time, we have a promotion offering a free complimentary oil change to new members who booked it through our site.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
              <h5>I have further inquiries. Who do I contact?</h5>
            </button>
          </h2>
          <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading11" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Please feel free to use our contact form or send your emails to help@doneez.com
            </div>
          </div>
        </div>




        <div>
          <br>
          <h2>Providers FAQs</h2>
        </div>


        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading100" style="border-top: 1px solid lightgray">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse100" aria-expanded="false" aria-controls="flush-collapse100">
              <h5>What is DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse100" class="accordion-collapse collapse" aria-labelledby="flush-heading100" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              For service professionals, DoneEZ is a website where they can promote and sell their services. We find you qualified leads who will either instantly book a job or request a quote from you.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading101">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse101" aria-expanded="false" aria-controls="flush-collapse101">
              <h5>What types of services can I offer on DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse101" class="accordion-collapse collapse" aria-labelledby="flush-heading101" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              DoneEZ currently only supports auto services to be requested or instantly booked. We will support other service categories soon. Click here to see a full list of services we will be supporting in the future.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading102">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse102" aria-expanded="false" aria-controls="flush-collapse102">
              <h5>What are some of the benefits of being a DoneEZ auto service professional?</h5>
            </button>
          </h2>
          <div id="flush-collapse102" class="accordion-collapse collapse" aria-labelledby="flush-heading102" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Our auto service professionals enjoy discounted auto parts purchases from auto parts vendors who we've partnered up with on the site. Our auto part vendors include local auto part stores, car dealerships, auto rebuilders, auto recyclers, and local distributors.
              <br><br>
              We have also partnered with other vendors whose products or services we feel might be of benefit to our service providers. For example, we have joined Sharpnet Solutions reseller program to offer their digital marketing services at discounted rates to our service professional members.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading103">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse103" aria-expanded="false" aria-controls="flush-collapse103">
              <h5>Do I need to pay to join DoneEZ as a service professional?</h5>
            </button>
          </h2>
          <div id="flush-collapse103" class="accordion-collapse collapse" aria-labelledby="flush-heading103" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              It's completely free to list your services and sell your appointments on DoneEZ.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading104">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse104" aria-expanded="false" aria-controls="flush-collapse104">
              <h5>If it's free to join, how do you make money?</h5>
            </button>
          </h2>
          <div id="flush-collapse104" class="accordion-collapse collapse" aria-labelledby="flush-heading104" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              While we don't charge our service providers a fee to sell on our platform, we do however, at times, accept payments in the form of tips from them to help us maintain the site.
              <br><br>
              In addition, we partner with vendors who we feel will be a benefit to our service professional members. For example, we've joined Sharpnet Solutions reseller program to offer their digital marketing services at a discounted rate to our members. Our partnership with these vendors is a way for us to generate some income.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading105">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse105" aria-expanded="false" aria-controls="flush-collapse105">
              <h5>Can I sign up as a DoneEZ auto service professional if I don't own a shop?</h5>
            </button>
          </h2>
          <div id="flush-collapse105" class="accordion-collapse collapse" aria-labelledby="flush-heading105" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Yes. Mobile mechanics just as those with physical shops are welcome to sign up as auto service providers on DoneEZ. All we ask is for you to be able to provide auto services with a commitment to great customer care and quality auto repair services. After all, your rating on review sites such as Yelp is what determines your eligibility to join our network of top rated pros. Our goal is to bring trust back to the auto service industry where previously it may be lacking. Many people perceive providers in the auto service industry as untrustworthy and we would like to change that. You can help change that perception by signing up to be a DoneEZ auto service provider and start providing great auto services with integrity and fair pricing. Together we can make a difference!
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading106">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse106" aria-expanded="false" aria-controls="flush-collapse106">
              <h5>I have further inquiries. Who do I contact?</h5>
            </button>
          </h2>
          <div id="flush-collapse106" class="accordion-collapse collapse" aria-labelledby="flush-heading106" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Please feel free to use our contact form or sent your emails to help@doneez.com
            </div>
          </div>
        </div>


        <div>
          <br>
          <h2>Vendors FAQs</h2>
        </div>




        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading200">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse200" aria-expanded="false" aria-controls="flush-collapse200">
              <h5>What is DoneEZ?</h5>
            </button>
          </h2>
          <div id="flush-collapse200" class="accordion-collapse collapse" aria-labelledby="flush-heading200" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              As a vendor, DoneEZ is a B2B platform where you can promote and sell your products and services to our service professional members on their dashboard.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading201">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse201" aria-expanded="false" aria-controls="flush-collapse201">
              <h5>What are the benefits of selling as a part vendor on the DoneEZ provider dashboard?</h5>
            </button>
          </h2>
          <div id="flush-collapse201" class="accordion-collapse collapse" aria-labelledby="flush-heading201" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              In addition to selling more parts, which is a great benefit by itself, you (vendor) also have the added benefit of selling to reputable auto service pros who know how to properly install parts. A poorly installed part is prone to breaking down sooner than a properly installed part. This means having to replace the defective part long before the warranty expires and taking a loss for the sale.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading202">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse202" aria-expanded="false" aria-controls="flush-collapse202">
              <h5>I want to be listed as a vendor. What are the fees?</h5>
            </button>
          </h2>
          <div id="flush-collapse202" class="accordion-collapse collapse" aria-labelledby="flush-heading202" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              It's totally free to list and sell your products on the Pro dashboard as a vendor. Sometimes we will ask for a tip to help cover some of the site's ongoing expenses.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading203">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse203" aria-expanded="false" aria-controls="flush-collapse203">
              <h5>What are the requirements to join as a vendor on the site?</h5>
            </button>
          </h2>
          <div id="flush-collapse203" class="accordion-collapse collapse" aria-labelledby="flush-heading203" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              We partner with any vendors whose products and services can provide value to our service pro members. Our vendor partners are required to give a discount to our service professional members.
            </div>
          </div>
        </div>

        <!-- Accordion Item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading204">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse204" aria-expanded="false" aria-controls="flush-collapse204">
              <h5>I have further inquiries. Who do I contact?</h5>
            </button>
          </h2>
          <div id="flush-collapse204" class="accordion-collapse collapse" aria-labelledby="flush-heading204" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Please feel free to use our contact form or sent your emails to help@doneez.com
            </div>
          </div>
        </div>



        <br>
      </div> <!-- End of Accordion -->
    </div>

  </div>
</div>

<!-- Page Content ENDS Here -->
{% endblock content %}