
<div class="container footer-container" style="min-width: 415px;">
    <div class="row">
        <div class="col">
            <h3>DoneEZ</h3>
            <div><a href="/about" target="blank">About</a></div>
            <div><a href="/how" target="blank">How it Works</a></div>
            <!-- <div><a href="#" target="blank">Service Request</a></div> -->
            <!-- <div><a href="#" target="blank">Browse Providers</a></div> -->
        </div>
        <div class="col"> 
            <h3>Help</h3>
            <div><a href="/faq" target="blank">FAQs</a></div>
            <div><a href="/terms" target="blank">Terms of use</a></div>
        </div>
        <!--
            <div class="col"> 
            <h3>Contact</h3>
            <div><a href="/contact" target="blank">Contact Us</a></div>
            <div><a href="#" target="blank">Got Feedback?</a></div>
            </div>
        -->
        <!--
        <div class="col"> 
            <h3>Connect</h3>
            <div>
                <a href="http://www.twitter.com/doneezconnect" target="blank"><i class="fab fa-twitter-square"></i> twitter</a>
            </div>
            <div>
                <a href="http://www.facebook.com/doneez" target="blank"><i class="fab fa-facebook-square"></i> facebook</a>
            </div>
            <div>
                <a href="http://www.linkedin.com/doneez" target="blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
            </div>
            <div>
                <a href="https://www.instagram.com/doneez_/?hl=en" target="blank"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>
        </div>
        -->
        <div class="col"> 
            <h3>Partners</h3>
            <div><a href="/dashboard/partner-signup-account">Become a Partner</a></div>
            <div><a href="/dashboard/login">For Partners</a></div>
            <div><a href="/admin">Site Admin</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-10" style="white-space:nowrap;">
            <small>&copy; Copyright 2022 - DoneEZ, LLC.  All Rights Reserved.</small>
        </div>
    </div>
</div>
