{% extends "dashboard/signup-base.html" %}

{% block content %}
<h1>Partner Signup<img src="/media/site-images/Logo v02 Tn.png" style="float:right;"></h1>
<br>
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col" style="min-width: 415px; max-width: 700px;"> <!-- Use this div to set the form width -->
            <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                <div class="row">
                    <div class="col">

                        <div class="card border-0">

                            <!-- Card Title -->

                            <div class="card-header">
                                <h3 class="font-weight-light my-3 text-center">Account Closed</h3>
                            </div>

                            <!-- Card Area -->

                            <div class="card-body">

                                    <div class="container">

                                        <!-- Form Instructions -->

                                        <div class="row">
                                            <div class="col text-center">
                                                <p class="small">Your DoneEZ account has been closed and your business has been removed from our platform.</p>
                                                <p class="small">If you did not intend to close your account, then contact the DoneEZ Site Admin immediately to see if it is still possible to reverse.</p>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                            <!-- Form Footer -->

                            <div class="col-12 card-footer text-center">
                                <a href="{% url 'home' %}">Return Back to DoneEZ.com</a><br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}