{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row">
        <div class="col">

            <form name="b2bSearchForm" action="{% url 'b2b-search' %}" method="GET" class="form-floating">
            <!-- Cross Site Request Forgery Security Token -->
            {% csrf_token %}

            <div>
                <h1 class="display-4">Search Suppliers</h1>
                <p>Utilize the DoneEZ platform to discover additional partner suppliers offering discounted products for your business.</p>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col" style="min-width: 300px; max-width: 900px;"> <!-- Use this div to set the column width -->
                        <h4>Search</h4>
                        <!-- Search Field -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="FormItemSearch" name="FormItemSearch" value="{{form_items_search}}" placeholder="Search Supplier Products and Services" autocomplete="nope" autofocus>
                            <label for="floatingInput">Search Supplier Products</label>
                        </div>
                        <div>
                            <!-- Display the Map -->
                            <div class="b2bMap">
                            {{ b2b_map|safe }}
                            </div>
                            <div>  
                                <fieldset id="FormDistanceRadio">
                                    Map Radius:

                                    {% if form_distance_selected == 30 %}
                                    <input type="radio" name="FormDistanceRadio" id="Miles30" value="30" onClick="checkboxSelected({{ business_type_selected }});" checked="checked">
                                    {% else %}
                                    <input type="radio" name="FormDistanceRadio" id="Miles30" value="30" onClick="checkboxSelected({{ business_type_selected }});">
                                    {% endif %}
                                    <label for= "Miles30">30 mi.</label>
                                    
                                    {% if form_distance_selected >= 60 %}
                                    <input type="radio" name="FormDistanceRadio" id="Miles60" value="60" onClick="checkboxSelected({{ business_type_selected }});" checked="checked">
                                    {% else %}
                                    <input type="radio" name="FormDistanceRadio" id="Miles60" value="60" onClick="checkboxSelected({{ business_type_selected }});">
                                    {% endif %}
                                    <label for= "Miles60">60 mi.</label>

                                    <!-- Code for an "All" option
                                    {% if form_distance_selected == 9999 %}
                                    <input type="radio" name="FormDistanceRadio" id="MilesAll" value="9999" onClick="checkboxSelected({{ business_type_selected }});" checked="checked">
                                    {% else %}
                                    <input type="radio" name="FormDistanceRadio" id="MilesAll" value="9999" onClick="checkboxSelected({{ business_type_selected }});">
                                    {% endif %}
                                    <label for= "MilesAll">All</label> 
                                    -->
                                </fieldset>
                                <br>
                            </div>
                            <ul class="p-0">
                                <hr>
                                <!-- List Businesses that matched our search and filter criteria -->
                                {% for business in object_list|dictsort:"distance_between" %}
                                    <!-- 
                                    Developer Note:  The "distance_between" value that we added to the object_list queryset can only be accessed within a loop (as done here),
                                    and cannot be used to "filter" the query (a Django limitation); therefore, we have to reference it from within a loop, each time we need it.
                                    -->
                                    {% if business.distance_between < form_distance_selected %}

                                        <li class="filter-results-list">
                                            {% if business.business_featured %}
                                            <a href="/dashboard/vendor-profile/{{ business.id}}" class="filter-result-featured-title">{{ business.business_name }}</a> ({{business.distance_between|stringformat:"0.1f"}} Miles)
                                            <br>
                                            <span class="filter-result-featured ps-4">  {{ business.business_tagline }}</span>
                                            {% else %}
                                            <span class="filter-result"><a href="/dashboard/vendor-profile/{{ business.id}}" class="filter-result">{{ business.business_name }}</a> ({{business.distance_between|stringformat:"0.1f"}} Miles) <span>- {{ business.business_tagline }}</span>
                                            {% endif %}
                                            <br>
                                            <span class="filter-result ps-4">{{ business.business_phone1 }}</span> <span class="filter-result ps-4">{{ business.business_email }}</span>
                                        </li>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col" style="min-width: 300px; max-width: 300px;"> <!-- Use this div to set the column width -->

                        <h4>Filters</h4>
                        <!-- Accordion -->
                        <div class="accordion mb-3" id="b2bFilterAccordion">
                            <input type="hidden" id="BusinessTypeSelected" name="BusinessTypeSelected" value="{{business_type_selected}}">
                            <!-- Accordion Items -->
                            {% for business_type in business_type_list %}
                                <div class="accordion-item">
                                    <div class="accordion-header" id="heading{{ business_type.id }}">
                                        <!-- Open/Collapse each accordion section, based on which one was selected  -->
                                        {% if business_type.id == business_type_selected %}
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ business_type.id }}" aria-expanded="true" aria-controls="collapse{{ business_type.id }}">
                                                {{ business_type.business_type }}
                                            </button>
                                        {% else %}
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ business_type.id }}" aria-expanded="false" aria-controls="collapse{{ business_type.id }}">
                                                {{ business_type.business_type }}
                                            </button>
                                        {% endif %}
                                    </div>
                                    <!-- Show/Hide each Business Type, based on which one was selected  -->
                                    {% if business_type.id == business_type_selected %}
                                    <div id="collapse{{ business_type.id }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ business_type.id }}" data-bs-parent="#b2bFilterAccordion">
                                    {% else %}
                                    <div id="collapse{{ business_type.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ business_type.id }}" data-bs-parent="#b2bFilterAccordion">
                                    {% endif %}

                                        <div class="accordion-body">

                                            {% for category in business_type.itemcategory_set.all %}
                                                {{ category.item_category }}
                                                <ul class="filter-list">
                                                    <!-- List each Item and determine whether it should be displayed as checked/unchecked -->
                                                    {% for item in category.item_set.all %}
                                                        <li class="filter-list-item">
                                                            
                                                                {% if item.id in form_items_selected %}
                                                                    <label class="filter-list-item-label" for="Item{{item.id}}"><input type="checkbox" name="FormItemCheckbox" id="Item{{item.id}}" value="{{item.id}}" onClick="checkboxSelected({{business_type.id}});" checked="checked"><span class="filter-list-item-text">{{item.item_title}}</span></label>
                                                                {% else %}
                                                                    <label class="filter-list-item-label" for="Item{{item.id}}"><input type="checkbox" name="FormItemCheckbox" id="Item{{item.id}}" value="{{item.id}}" onClick="checkboxSelected({{business_type.id}});"><span class="filter-list-item-text">{{item.item_title}}</span></label>
                                                                {% endif %}
                                                                
                                                            
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                    </div>

                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Javascript to submit the form each time a checkbox is selected -->
<script>
    function checkboxSelected(BusinessTypeOpen) {
        document.getElementById('BusinessTypeSelected').value = BusinessTypeOpen;
        document.b2bSearchForm.submit();
    }
</script>


{% endblock content %}


  
