{% extends "dashboard/dashboard-base.html" %}
{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col">

            <div class="jumbotron">
                {% if user.first_name %}
                <h1 class="display-4">{{user.first_name}}'s Dashboard</h1>
                {% else %}
                <h1 class="display-4">Dashboard</h1>
                {% endif %}

                <div class="col-auto mb-4 mt-4">
                    <img src="../media/site-images/istockphoto-846755672-612x612.jpg" class="responsiveImage" width="40%">
                </div>
                <p class="lead">
                    Welcome to DoneEZ Dashboard, where we prioritize <span>{{user.business.business_name}}</span> for success. Our platform offers easy access to the resources you need to excel in your business. You'll have the opportunity to connect with a community of customers searching for businesses like yours, as well as suppliers offering discounts to help you save money. DoneEZ puts a wealth of resources right at your fingertips, including the Supplier search and Solutions tools, which can enhance your workflow and elevate your performance on the job. With DoneEZ, you'll have the power to connect and grow your business like never before, thanks to our thriving network of buyers and sellers.
                </p>
            </div>
            <br><br><br><br><br><br><br>
            <div style="border: 1px solid lightgray">
                <div id="my-store-95265857"></div>
                <div>
                <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?95265857&data_platform=code&data_date=2023-11-19" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-95265857");</script>
                </div>                
            </div>
        </div>
    </div>
</div>

{% endblock content %}