{% extends "dashboard/dashboard-base.html" %}
{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col">

            <div class="jumbotron">
                {% if user.first_name %}
                <h1 class="display-4">{{user.first_name}}'s Dashboard</h1>
                {% else %}
                <h1 class="display-4">Dashboard</h1>
                {% endif %}

                <div class="col-auto mb-4 mt-4">
                    <img src="../media/site-images/istockphoto-846755672-612x612.jpg" class="responsiveImage" width="40%">
                </div>
                <p class="lead">
                    Welcome to your DoneEZ Dashboard, where we put <span>{{user.business.business_name}}</span> at the center of it all.
                    On the DoneEZ platform, you are surrounded by customers looking for businesses like yours and by suppliers who offer discounts that save you money.
                    Whether you use the Dashboard to supply information that your customers need, or you use the Supplier Search tool to get what you need, 
                    DoneEZ delivers an entire community of buyers and sellers... right to your fingertips.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}