{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col" style="min-width: 415px; max-width: 600px;"> <!-- Use this div to set the form width -->
            <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                <div class="row">
                    <div class="col">
            

                        <div class="card border-0">

                            <!-- Form Title -->

                            <div class="card-header">
                                <h3 class="font-weight-light my-3 text-center">Product and Service Offerings</h3>
                            </div>

                            <!-- Form Area -->

                            <div class="card-body">

                                <form method="POST" class="form-floating">

                                    <!-- Cross Site Request Forgery Security Token -->
                                    {% csrf_token %}

                                    <!-- Form Errors -->
                                    {% include "dashboard/dashboard-errors.html" %}

                                    <div class="container">

                                        <!-- Form Instructions -->

                                        <div class="row">
                                            <div class="col text-center">
                                                <p class="small">Select the products/services you offer to customers.</p>
                                            </div>
                                        </div>

                                        <!-- Form Fields -->

                                        <div class="row justify-content-center">

                                            <!-- Items Offered -->
                                            <div class="col-auto pt-0 px-0" style="border: 1px solid lightgray">
                                                <div class="px-0 pt-3" style="height: 500px; overflow-y: scroll;">{{ form.items_offered  }}</div>
                                            </div>
                                            {% if form.items_offered.help_text %}
                                            <div class="form-text text-muted small">{{ form.items_offered.help_text|safe }}</div>
                                            {% endif %}
                                            <div class="form-text text-danger small">{{ form.items_offered.errors.as_text|cut:"* " }}</div>

                                        </div>


                                        <!-- Form Buttons -->

                                        <div class="row">
                                            <div class="d-grid gap-3 pt-4 px-0">
                                                <button type="submit" class="btn btn-site">Save Changes</button>
                                                <a href="/dashboard" class="btn btn-site">Cancel</a>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col small text-center">
                                                <p>Don't see your item in the list?  <a href="/dashboard/contact-admin">Contact Us</a> to suggest one.</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Form Footer -->

                            <div class="col-12 card-footer text-center">
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}




