{% extends "dashboard/dashboard-base.html" %}
{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col">

            <div class="jumbotron">
                {% if user.first_name %}
                <h1 class="display-4">{{user.first_name}}'s Dashboard</h1>
                {% else %}
                <h1 class="display-4">Dashboard</h1>
                {% endif %}

                <div class="col-auto mb-4 mt-4">
                    <img src="../media/site-images/istockphoto-846755672-612x612.jpg" class="responsiveImage" width="40%">
                </div>
                <p class="lead">
                    Welcome to DoneEZ Dashboard, where we prioritize <span>{{user.business.business_name}}</span> for success. Our platform offers easy access to the resources you need to excel in your business. You'll have the opportunity to connect with a community of customers searching for businesses like yours, as well as suppliers offering discounts to help you save money. DoneEZ puts a wealth of resources right at your fingertips, including the Supplier search and Solutions tools, which can enhance your workflow and elevate your performance on the job. With DoneEZ, you'll have the power to connect and grow your business like never before, thanks to our thriving network of buyers and sellers.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mt-4" style="text-align: left;">
            <a class="btn-img" href="{% url 'supplies' %}"><img src="../media/site-images/GlovesOffer.png" class="btn-img responsiveImage" style="width: 280px;"></a>
        </div>
        <div class="col-lg mt-4">
            <b>Support the DoneEZ Platform with Disposable Gloves!</b>
            <p>
                Dear Valued Members,
            </p>
            <p>
                We're excited to offer you a special chance to make a big impact on our DoneEZ platform success! When you buy these high-quality disposable gloves, you're not only keeping yourself safe but also actively helping our platform.
            </p>
            <p>
                The proceeds from these purchases will go towards vital initiatives, such as advertising to generate job leads for our valued members. Your support directly ensures the continued strength and vitality of our platform.
            </p>
            <p>
                With each case of gloves you purchase, we get closer to reaching our shared goals. This means a smoother experience for all members, as our platform keeps running smoothly.
            </p>
            <p>
                We deeply appreciate your steadfast support and for being a vital part of our lively community. Together, let's make a lasting difference!
            </p>
        </div>
    </div>
    <div class="row">
            <p>
                <br>
                <b>¡Apoye la plataforma DoneEZ con guantes desechables!</b>
            </p>
            <p>
                Estimados miembros valiosos,
            </p>
            <p>
                ¡Nos complace ofrecerle una oportunidad especial de generar un gran impacto en el éxito de nuestra plataforma DoneEZ! Cuando compras estos guantes desechables de alta calidad, no solo te mantienes seguro sino que también ayudas activamente a nuestra plataforma.                            
            </p>
            <p>
                Las ganancias de estas compras se destinarán a iniciativas vitales, como publicidad para generar oportunidades laborales para nuestros valiosos miembros. Su apoyo garantiza directamente la fortaleza y vitalidad continua de nuestra plataforma.
            </p>
            <p>
                Con cada caja de guantes que compra, nos acercamos más a alcanzar nuestros objetivos compartidos. Esto significa una experiencia más fluida para todos los miembros, ya que nuestra plataforma sigue funcionando sin problemas.
            </p>
            <p>
                Apreciamos profundamente su firme apoyo y por ser una parte vital de nuestra animada comunidad. ¡Juntos, hagamos una diferencia duradera!
            </p>


        </div>
    </div>
</div>

{% endblock content %}