{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col" style="min-width: 415px; max-width: 600px;"> <!-- Use this div to set the form width -->
            <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                <div class="row">
                    <div class="col">

                        <div class="card border-0">

                            <!-- Form Title -->

                            <div class="card-header">
                                <h3 class="font-weight-light my-3 text-center">Contact the DoneEZ Team</h3>
                            </div>

                            <!-- Form Area -->

                            <div class="card-body">


                                <div class="container">
                                    <h4 class="font-weight-light my-3 text-center">Please Keep Our Email Address Private</h4>

                                    <div class="row">
                                        <div class="col text-center">
                                            <p>The following address is strictly for Partner use only.  It is intended for supporting our DoneEZ Partners with their requests, concerns, suggestions and other inquiries.  Please do not share it with anyone.</p>
                                            <p>You can contact us at <u>Support@DoneEZ.com</u>.  <br>We will respond back promptly.</p>
                                        </div>
                                    </div>


                                </div>


                            </div>

                            <!-- Form Footer -->

                            <div class="col-12 card-footer text-center">
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

