
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <nav class="navbar navbar-expand-lg container-menu navbar-light mt-0 mb-0 pt-0 pb-3" style="min-width: 180px;">
                <div class="container-fluid">
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="site-menu-item" href="{% url 'b2b-search' %}">Vendor Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="site-menu-item" href="{% url 'business-profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="site-menu-item" href="{% url 'business-map-address' %}">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="site-menu-item" href="{% url 'business-settings' %}">Offerings</a>
                            </li>
                            <li class="nav-item dropdown">
                                {% if user.first_name %}
                                <a class="site-menu-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                                {% else %}
                                <a class="site-menu-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                {% endif %}
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item site-menu-item" href="/dashboard/account-details">My Account</a></li>
                                    <li><a class="dropdown-item site-menu-item" href="/dashboard">My Dashboard</a></li>
                                    <li><a class="dropdown-item site-menu-item" href="/dashboard/change-password">Change Password</a></li>
                                    <li><a class="dropdown-item site-menu-item" href="/dashboard/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        {% else %}
                        <!-- 
                            Customer Login will go here 
                            <a class="nav-link site-menu-item" href="{% url 'login' %}">Sign in</a> 
                        -->
                        {% endif %}
                    </div>

                </div>
            </nav>            
        </div>
    </div>

</div>
