{% autoescape off %}
<!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#00528c;"><br></div>
        <div>
            <h3 style="color:SlateGray;">We are reviewing your DoneEZ account application for Username:  <span style="color:#00528c;">{{ username }}</span> </h3>
            <h2 style="color:SlateGray;">You will be notified via email, once your account is approved.</span> </h2>
        </div>
        <div style="background-color:#00528c;"><br></div>
    </body>
</html>
{% endautoescape %}