{% autoescape off %}
<!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#00528c;"><br></div>
        <div>
            <h3 style="color:SlateGray;">Regarding your DoneEZ Account Username: <span style="color:#00528c;">{{ user.username }}</span></h3>
            <h2 style="color:SlateGray;">Click the link below to reset your password:</h2>
            <h3 style="color:SlateGray;"><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color:#00528c;">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></h3>
            <h4 style="color:SlateGray;">If clicking the link above doesn't work, please copy and paste the URL into a new browser window.</h4>
            <h3 style="color:SlateGray;">Sincerely,<br><br>DoneEZ</h3>
        </div>
        <div style="background-color:#00528c;"><br></div>
    </body>
</html>
{% endautoescape %}
