{% autoescape off %}
<!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#00528c;"><br></div>
        <div>
            <h2 style="color:SlateGray;">Your DoneEZ account has been closed and deactivated for Username:  <span style="color:#00528c;">{{ username }}</span></h2>
            <h3 style="color:SlateGray;">Your account has been closed and customers will no longer be able to reach you on the DoneEZ platform.</h3>
        </div>
        <div style="background-color:#00528c;"><br></div>
    </body>
</html>
{% endautoescape %}


