{% autoescape off %}
<!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#00528c;"><br></div>
        <div>
            <h2 style="color:SlateGray;">Congratulations!  Your DoneEZ account has been created for Username:  <span style="color:#00528c;">{{ username }}</span> </h2>
            <h3 style="color:SlateGray;">Congratulations!  You are now a valuable member of the DoneEZ network!  
                Go to <a href="http://doneez.com/" style="color:#00528c;">DoneEZ.com</a> to login to your DoneEZ account.</h3>
        </div>
        <div style="background-color:#00528c;"><br></div>
    </body>
</html>
{% endautoescape %}
