{% extends "dashboard/signup-base.html" %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <div class="signup-container">
                <img class="signup-logo" src="/media/site-images/Logo v02 Tn.png">
                <span class="signup-header">Partner Signup</span>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col" style="max-width: 500px;"> <!-- Use this div to set the form width -->
                        <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                            <div class="row">
                                <div class="col">

                                    <div class="card border-0">

                                        <!-- Form Title -->

                                        <div class="card-header">
                                            <h3 class="font-weight-light my-3 text-center">Create Your Administrator Account</h3>
                                        </div>

                                        <!-- Form Area -->

                                        <div class="card-body">

                                            <form method="POST" class="form-floating">

                                                <!-- Cross Site Request Forgery Security Token -->
                                                {% csrf_token %}

                                                <div class="container">

                                                    <!-- Form Errors -->
                                                    {% include "dashboard/dashboard-errors.html" %}

                                                    <!-- Form Instructions -->

                                                    <div class="row">
                                                        <div class="col text-center">
                                                            <p class="small">Enter the details of the Business Administrator who will manage this online account.</p>
                                                        </div>
                                                    </div>

                                                    <!-- Form Fields -->

                                                    <div class="row">
                                                        
                                                        <!--Username-->
                                                        <div class="col-12 pt-3 px-0">
                                                            <div class="form-floating">
                                                                {{ form.username }}
                                                                <label for="username" class="form-label">Username</label>
                                                            </div>
                                                            {% if form.username.help_text %}
                                                            <div class="form-text text-muted small mt-0">{{ form.username.help_text|safe }}</div>
                                                            {% endif %}
                                                            <div class="form-text text-danger small mt-0">{{ form.username.errors.as_text|cut:"* " }}</div>
                                                        </div>
                                                        <!--First Name-->
                                                        <div class="col-12 pt-3 px-0">
                                                            <div class="form-floating">
                                                                {{ form.first_name }}
                                                                <label for="first_name" class="form-label">First Name</label>
                                                            </div>
                                                            {% if form.first_name.help_text %}
                                                            <div class="form-text text-muted small mt-0">{{ form.first_name.help_text|safe }}</div>
                                                            {% endif %}
                                                            <div class="form-text text-danger small mt-0">{{ form.first_name.errors.as_text|cut:"* " }}</div>
                                                        </div>
                                                        <!--Last Name-->
                                                        <div class="col-12 pt-3 px-0">
                                                            <div class="form-floating">
                                                                {{ form.last_name }}
                                                                <label for="last_name" class="form-label">Last Name</label>
                                                            </div>
                                                            {% if form.last_name.help_text %}
                                                            <div class="form-text text-muted small mt-0">{{ form.last_name.help_text|safe }}</div>
                                                            {% endif %}
                                                            <div class="form-text text-danger small mt-0">{{ form.last_name.errors.as_text|cut:"* " }}</div>
                                                        </div>
                                                        <!--Email-->
                                                        <div class="col-12 pt-3 px-0">
                                                            <div class="form-floating">
                                                                {{ form.email }}
                                                                <label for="email" class="form-label">Email</label>
                                                            </div>
                                                            {% if form.email.help_text %}
                                                            <div class="form-text text-muted small mt-0">{{ form.email.help_text|safe }}</div>
                                                            {% endif %}
                                                            <div class="form-text text-danger small mt-0">{{ form.email.errors.as_text|cut:"* " }}</div>
                                                        </div>
                                                        <!--Password1-->
                                                        <div class="col-12 pt-3 px-0">
                                                            <div>
                                                                {{ form.password1 }}
                                                                {{ form.errors.password }}
                                                            </div>
                                                            {% if form.password1.help_text %}
                                                            <div class="form-text text-muted small mt-0">{{ form.password1.help_text|safe }}</div>
                                                            {% endif %}
                                                            <div class="form-text text-danger small mt-0">{{ form.password1.errors.as_text|cut:"* " }}</div>
                                                        </div>
                                                        <!--Password2-->
                                                        <div class="col-12 pt-3 px-0">
                                                            <div>
                                                                {{ form.password2 }}
                                                            </div>
                                                            {% if form.password2.help_text %}
                                                            <div class="form-text text-muted small mt-0">{{ form.password2.help_text|safe }}</div>
                                                            {% endif %}
                                                            <div class="form-text text-danger small mt-0">{{ form.password2.errors.as_text|cut:"* " }}</div>
                                                        </div>
                                                        
                                                    </div>

                                                    <!-- Form Buttons -->

                                                    <div class="row">
                                                        <div class="d-grid gap-3 pt-5 px-0">
                                                            <button type="submit" class="btn btn-site">Save and Continue</button>
                                                            <a href="/" class="btn btn-site" value="cancel">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>


                                        </div>

                                        <!-- Form Footer -->

                                        <div class="col-12 card-footer text-center">
                                            <a href="{% url 'login' %}">Already have an account?</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

