{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col" style="max-width: 500px;"> <!-- Use this div to set the form width -->
            <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                <div class="row">
                    <div class="col">

                        <div class="card border-0">

                            <!-- Form Title -->

                            <div class="card-header">
                                <h3 class="font-weight-light my-3 text-center">Reset Your Password</h3>
                            </div>

                            <!-- Form Area -->

                            <div class="card-body">


                                <div class="container">

                                    <!-- Form Instructions -->

                                    <div class="row">
                                        <div class="col text-center">
                                            <p class="small">Your password has been reset.</p>
                                        </div>
                                    </div>

                                    <!-- Form Fields -->


                                    <!-- Form Buttons -->

                                    <div class="row">
                                        <div class="d-grid gap-3 pt-4 px-0">
                                            <a href="/dashboard/login/" class="btn btn-site" value="cancel">Login</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <!-- Form Footer -->

                            <div class="col-12 card-footer text-center">
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}




