{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col" style="min-width: 415px; max-width: 500px;"> <!-- Use this div to set the form width -->
            <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                <div class="row">
                    <div class="col">

                        <div class="card border-0">

                            <!-- Form Title -->

                            <div class="card-header">
                                <h3 class="font-weight-light my-3 text-center">Change Password</h3>
                            </div>

                            <!-- Form Area -->

                            <div class="card-body">

                                <form method="POST" class="form-floating">

                                    <!-- Cross Site Request Forgery Security Token -->
                                    {% csrf_token %}

                                    <!-- Form Errors -->
                                    {% include "dashboard/dashboard-errors.html" %}

                                    <div class="container">

                                        <!-- Form Instructions -->

                                        <div class="row">
                                            <div class="col text-center">
                                                <p class="small">To change your password, supply your old one and new one.</p>
                                            </div>
                                        </div>

                                        <!-- Form Fields -->

                                        <div class="row">
                                            
                                            <!-- Old Password -->
                                            <div class="col-12 pt-3 px-0">
                                                <div class="form-floating">
                                                    {{ form.old_password }}
                                                </div>
                                                {% if form.old_password.help_text %}
                                                <div class="form-text text-muted small mt-0">{{ form.old_password.help_text|safe }}</div>
                                                {% endif %}
                                                <div class="form-text text-danger small mt-0">{{ form.old_password.errors.as_text|cut:"* " }}</div>
                                            </div>

                                            <!-- New Password 1 -->
                                            <div class="col-12 pt-3 px-0">
                                                <div class="form-floating">
                                                    {{ form.new_password1 }}                            
                                                </div>
                                                {% if form.new_password1.help_text %}
                                                <div class="form-text text-muted small mt-0">{{ form.new_password1.help_text|safe }}</div>
                                                {% endif %}
                                                <div class="form-text text-danger small mt-0">{{ form.new_password1.errors.as_text|cut:"* " }}</div>
                                            </div>

                                            <!-- New Password 2 -->
                                            <div class="col-12 pt-3 px-0">
                                                <div class="form-floating">
                                                    {{ form.new_password2 }}
                                                </div>
                                                {% if form.new_password2.help_text %}
                                                <div class="form-text text-muted small mt-0">{{ form.new_password2.help_text|safe }}</div>
                                                {% endif %}
                                                <div class="form-text text-danger small mt-0">{{ form.new_password2.errors.as_text|cut:"* " }}</div>
                                            </div>

                                        </div>

                                        <!-- Form Buttons -->

                                        <div class="row">
                                            <div class="d-grid gap-3 pt-5 px-0">
                                                <button type="submit" class="btn btn-site">Update Password</button>
                                                <a href="/dashboard" class="btn btn-site" value="cancel">Cancel</a>
                                            </div>
                                        </div>
                                    </div>

                                </form>


                            </div>

                            <!-- Form Footer -->

                            <div class="col-12 card-footer text-center">
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

