
{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col" style="min-width: 415px; max-width: 500px;"> <!-- Use this div to set the form width -->
            <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                <div class="row">
                    <div class="col">

                        <div class="card border-0">

                            <!-- Form Title -->

                            <div class="card-header">
                                <h3 class="font-weight-light my-3 text-center">Reset Your Password</h3>
                            </div>

                            <!-- Form Area -->

                            <div class="card-body">

                                <form method="POST">
                                    <!-- Cross Site Request Forgery Security Token -->
                                    {% csrf_token %}

                                    <!-- Form Errors -->
                                    {% include "dashboard/dashboard-errors.html" %}

    


                                    <div class="container">

                                        <!-- Form Instructions -->

                                        <div class="row">
                                            <div class="col text-center">
                                                <p class="small">Enter your new password twice to ensure accuracy.</p>
                                            </div>
                                        </div>

                                        <!-- Form Fields -->

                                        <div class="row">

                                            <!-- New Password -->
                                            <div class="col-12 pt-3 px-0">
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                    class="form-control" required id="id_new_password1" data-toggle="password"
                                                    placeholder="Enter Your New Password" autofocus>
                                            </div>

                                            <!-- New Password Confirm -->
                                            <div class="col-12 pt-3 px-0">
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                        required id="id_new_password2" class="form-control" data-toggle="password"
                                                        placeholder="Retype Your New Password">
                                            </div>

                                            {% if form.errors %}
                                            <div  class="alert alert-danger fade show pt-3 mt-3" role="alert">
                                                <div id="form_errors">
                                                    {% for key, value in form.errors.items %}
                                                        {{ value.as_text|cut:"* " }}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <!-- Form Buttons -->

                                        <div class="row">
                                            <div class="d-grid gap-3 pt-4 px-0">
                                                <button type="submit" class="btn btn-site">Reset Password</button>
                                                <a href="/dashboard/login/" class="btn btn-site" value="cancel">Cancel</a>
                                            </div>
                                        </div>

                                    </div>

                                </form>


                            </div>

                            <!-- Form Footer -->

                            <div class="col-12 card-footer text-center">
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}




