{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col" style="min-width: 415px; max-width: 500px;"> <!-- Use this div to set the form width -->
            <div class="container shadow-lg rounded-lg p-0 m-0"> <!-- This container provides the card's shadow -->
                <div class="row">
                    <div class="col">

                        <div class="card border-0">

                            <!-- Form Title -->

                            <div class="card-header">
                                <h3 class="font-weight-light my-3 text-center">Password Reset</h3>
                            </div>

                            <!-- Form Area -->

                            <div class="card-body">

                                <form method="POST" class="form-floating">

                                    <!-- Cross Site Request Forgery Security Token -->
                                    {% csrf_token %}

                                    <!-- Form Errors -->
                                    {% include "dashboard/dashboard-errors.html" %}

                                    <div class="container">

                                        <!-- Form Instructions -->

                                        <div class="row">
                                            <div class="col text-center">
                                                <p class="small">Enter the Administrator's email address <br>to receive password-reset instructions.</p>
                                            </div>
                                        </div>

                                        <!-- Form Fields -->

                                        <div class="row">

                                            <div class="col-12 pt-3 px-0">
                                                <div class="form-floating">
                                                    <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required id="id_email" placeholder="name@example.com" autofocus>
                                                    <label for="id_email" class="form-label">Email</label>
                                                </div>
                                            </div>
        
                                        </div>

                                        <!-- Form Buttons -->

                                        <div class="row">
                                            <div class="d-grid gap-3 pt-5 px-0">
                                                <button type="submit" class="btn btn-site">Send Password-Reset Email</button>
                                                <a href="/dashboard/login" class="btn btn-site" value="cancel">Cancel</a>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                            <!-- Form Footer -->

                            <div class="col-12 card-footer text-center">
                                <a href="{% url 'login' %}">Click here to login.</a><br>
                                <a href="{% url 'partner-signup-account' %}">Don't have an account?</a><br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
