{% extends "dashboard/dashboard-base.html" %}

{% block content %}

<div class="container mb-5">
    <div class="row">
        <div class="col">

            <form name="solutionsForm" action="{% url 'solutions' %}" method="GET" class="form-floating">
            <!-- Cross Site Request Forgery Security Token -->
            {% csrf_token %}

            <div>
                <h1 class="display-4">Business Solutions</h1>
                <h3>Cutting-Edge Solutions for Your Business Success</h3>
                <p>We've teamed up with leading edge companies to offer exclusive discounts for your business needs.</p>
                <hr>
            </div>

            <div class="container">
                <div class="row justify-content-left">

                    <div class="col" style="width: 100%;"> <!-- Use this div to set the column width -->
                        <!-- Search Field -->
                            <ul class="p-0">
                                {% regroup object_list by business_type as business_list %}
                                    {% for business_type in business_list %}
                                        <div class="mt-4 mb-2">
                                            <h4>{{business_type.grouper}}</h4>
                                            <p>{{business_type.grouper.business_type_tagline}}</p>
                                            <!-- {% if business_type.business_type_tagline %}
                                            {% endif %} -->
                                            <hr>
                                        </div>
                                        <!-- List Businesses that matched our search and filter criteria -->
                                        {% for business in business_type.list %}
                                            <!-- 
                                            Developer Note:  The "distance_between" value that we added to the object_list queryset can only be accessed within a loop (as done here),
                                            and cannot be used to "filter" the query (a Django limitation); therefore, we have to reference it from within a loop, each time we need it.
                                            -->

                                                <li class="filter-results-list ps-0">
                                                    <div>
                                                    <a href="/dashboard/vendor-profile/{{ business.id}}" class="filter-results-card mt-0 mb-4">
                                                        {% if business.business_featured %}
                                                            <p class="filter-result-featured-title"><u>{{ business.business_name }}</u></p>
                                                            <p class="filter-result-featured ps-1">{{ business.business_tagline }}</p>
                                                        {% else %}
                                                            <p class="filter-result"><u>{{ business.business_name }}</u></p>
                                                            <p class="filter-result ps-1"><em>{{ business.business_tagline }}</em></p>
                                                        {% endif %}
                                                        {% if business.business_email %}
                                                            <span class="filter-result ps-1">{{ business.business_email }}</span>
                                                        {% endif %}
                                                        {% if business.business_phone1 %}
                                                            <br>
                                                            <span class="filter-result ps-1">{{ business.business_phone1 }}</span>
                                                        {% endif %}
                                                        {% if business.business_description %}
                                                            {% if business.business_description|length|get_digit:"-1" > 200 %}
                                                            <p class="ps-1">{{ business.business_description|truncatechars:200 }} <u>more</u></p>
                                                            {% else %}
                                                            <p class="ps-1">{{ business.business_description }}</p>
                                                            {% endif %}
                                                        {% endif %}
                                                    </a>
                                                    </div>
                                                </li>
                                        {% endfor %}
                                    {% empty %}
                                        <h4>{{solution_selected}}</h4>
                                        <p>We are working hard to add business solutions to the {{solution_selected}} category.  Please check back soon or select another category of offers.</p>
                                        <hr>
                                    {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>




{% endblock content %}


  
